.trendingSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px 0px;
    gap: 60px;

    width: 100%;
    height: 836px;

    /* Background */

    background: #2B2B2B;

    /* Inside auto layout */

    flex: none;
    order: 2;
    align-self: stretch;
    flex-grow: 0;

    .trendingtittlediv {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        gap: 10px;

        width: 1046px;
        height: 91px;


        /* Inside auto layout */

        flex: none;
        order: 0;
        flex-grow: 0;

        p:nth-child(1) {
            font-family: 'Work Sans';
            font-style: normal;
            font-weight: 600;
            font-size: 38px;
            line-height: 120%;
            /* identical to box height, or 46px */

            text-transform: capitalize;

            /* White */

            color: #FFFFFF;


            /* Inside auto layout */

            flex: none;
            order: 0;
            flex-grow: 1;
        }

        p:nth-child(2) {
            height: 35px;

            /* Body Text- Work Sans */

            font-family: 'Work Sans';
            font-style: normal;
            font-weight: 400;
            font-size: 22px;
            line-height: 160%;
            /* or 35px */

            text-transform: capitalize;

            /* White */

            color: #FFFFFF;


            /* Inside auto layout */

            flex: none;
            order: 0;
            flex-grow: 1;
        }
    }

    .trendingcards {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 0px;
        gap: 30px;


        /* Inside auto layout */

        flex: none;
        order: 1;
        flex-grow: 0;

        .trendingcard {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding: 0px;
            gap: 15px;

            width: 330px;
            height: 525px;

            /* Background */

            background: #2B2B2B;
            border-radius: 20px;

            /* Inside auto layout */

            flex: none;
            flex-grow: 0;

            .trendingcardtop {
                height: 330px;
                border-radius: 20px;

                /* Inside auto layout */

                flex: none;
                order: 0;
                align-self: stretch;
                flex-grow: 0;
            }

            .trendingcardmiddle {
                display: flex;
                flex-direction: row;
                align-items: flex-start;
                padding: 0px;
                gap: 15px;
                height: 100px;


                /* Inside auto layout */

                flex: none;
                order: 1;
                align-self: stretch;
                flex-grow: 0;
            }

            .trendingcarddown {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                padding: 0px;
                gap: 10px;

                width: 330px;
                height: 65px;


                /* Inside auto layout */

                flex: none;
                order: 1;
                align-self: stretch;
                flex-grow: 0;

                div:nth-child(1) {
                    height: 31px;

                    /* H5 - Work Sans */

                    font-family: 'Work Sans';
                    font-style: normal;
                    font-weight: 600;
                    font-size: 22px;
                    line-height: 140%;
                    /* identical to box height, or 31px */

                    text-transform: capitalize;

                    color: #FFFFFF;


                    /* Inside auto layout */

                    flex: none;
                    order: 0;
                    align-self: stretch;
                    flex-grow: 0;
                }

                div:nth-child(2) {
                    display: flex;
                    flex-direction: row;
                    align-items: flex-start;
                    padding: 0px;
                    gap: 12px;

                    width: 330px;
                    height: 24px;

                    border-radius: 20px;

                    /* Inside auto layout */

                    flex: none;
                    order: 1;
                    align-self: stretch;
                    flex-grow: 0;

                    img {
                        display: flex;
                        flex-direction: row;
                        align-items: flex-start;
                        padding: 0px;
                        gap: 10px;

                        width: 24px;
                        height: 24px;


                        /* Inside auto layout */

                        flex: none;
                        order: 0;
                        flex-grow: 0;
                    }

                    p {
                        height: 22px;

                        /* Base(Body) - Work Sans */

                        font-family: 'Work Sans';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 140%;
                        /* or 22px */


                        color: #FFFFFF;


                        /* Inside auto layout */

                        flex: none;
                        order: 1;
                        flex-grow: 1;
                    }
                }
            }
        }
    }
}



.creatorsSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px 195px;
    gap: 60px;

    width: 100%;
    height: 1085px;

    /* Background */

    background: #2B2B2B;

    /* Inside auto layout */

    flex: none;
    order: 3;
    align-self: stretch;
    flex-grow: 0;


    .creatortittlediv {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        padding: 0px;
        gap: 100px;

        height: 91px;


        /* Inside auto layout */

        flex: none;
        order: 0;
        flex-grow: 0;


        .creatortittledivLeft {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding: 0px;
            gap: 10px;

            width: 703px;
            height: 91px;


            /* Inside auto layout */

            flex: none;
            order: 0;
            flex-grow: 0;

            p:nth-child(1) {
                height: 46px;

                /* H3 - Work Sans */

                font-family: 'Work Sans';
                font-style: normal;
                font-weight: 600;
                font-size: 38px;
                line-height: 120%;
                /* identical to box height, or 46px */

                text-transform: capitalize;

                /* White */

                color: #FFFFFF;


                /* Inside auto layout */

                flex: none;
                order: 0;
                flex-grow: 1;
            }

            p:nth-child(2) {
                height: 35px;

                /* Body Text- Work Sans */

                font-family: 'Work Sans';
                font-style: normal;
                font-weight: 400;
                font-size: 22px;
                line-height: 160%;
                /* or 35px */

                text-transform: capitalize;

                /* White */

                color: #FFFFFF;


                /* Inside auto layout */

                flex: none;
                order: 0;
                flex-grow: 1;
            }


        }

        button {
            background-color: transparent;
            border: 2px solid #A259FF;
            border-radius: 20px;
            width: 247px;
            height: 60px;

            img {
                width: 20px;
            }

            p {
                font-weight: 600;
                font-size: 16px;
                line-height: 140%;
                height: 22px;
            }
        }
    }

    .creatorcards {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        padding: 0px;
        gap: 30px;

        height: 774px;


        /* Inside auto layout */

        flex: none;
        order: 1;
        flex-grow: 0;

        .newcard {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 20px;
            gap: 20px;
            isolation: isolate;

            width: 240px;
            height: 238px;

            background: #3B3B3B;
            border-radius: 20px;

            /* Inside auto layout */

            flex: none;
            order: 0;
            flex-grow: 1;

            img {
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                padding: 0px;
                isolation: isolate;

                width: 110px;
                height: 120px;


                /* Inside auto layout */

                flex: none;
                order: 0;
                flex-grow: 0;
                z-index: 0;
            }

            p {
                display: flex;
                flex-direction: row;
                align-items: flex-start;
                padding: 0px;
                isolation: isolate;

                position: absolute;
                width: 30px;
                height: 30px;
                left: 20px;
                top: 18px;

                /* Background */

                background: #2B2B2B;
                border-radius: 20px;

                /* Inside auto layout */

                flex: none;
                order: 2;
                flex-grow: 0;
                z-index: 2;
            }

            .creatorcardbody {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding: 0px;
                gap: 5px;

                width: 200px;
                height: 58px;


                /* Inside auto layout */


                order: 1;
                align-self: stretch;
                flex-grow: 0;
                z-index: 1;

                div:nth-child(1) {
                    height: 31px;

                    /* H5 - Work Sans */

                    font-family: 'Work Sans';
                    font-style: normal;
                    font-weight: 600;
                    font-size: 22px;
                    line-height: 140%;
                    /* identical to box height, or 31px */

                    text-align: center;
                    text-transform: capitalize;

                    color: #FFFFFF;


                    /* Inside auto layout */

                    flex: none;
                    order: 0;
                    align-self: stretch;
                    flex-grow: 0;
                }

                div {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: flex-start;
                    padding: 0px;
                    gap: 10px;
                    height: 22px;


                    /* Inside auto layout */

                    flex: none;
                    order: 1;
                    align-self: stretch;
                    flex-grow: 0;

                    div:nth-child(1) {

                        /* Base(Body) - Work Sans */

                        font-family: 'Work Sans';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 140%;
                        /* or 22px */

                        text-align: right;

                        /* Caption & Label Text */

                        color: #858584;


                        /* Inside auto layout */

                        flex: none;
                        order: 0;
                        flex-grow: 1;
                    }

                    div:nth-child(2) {

                        /* Base (Body) - Space Mono */

                        font-family: 'Space Mono';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 140%;
                        /* or 22px */


                        /* Text */

                        color: #FFFFFF;


                    }
                }
            }
        }

        .newcard:hover {
            scale: 0.95;
            cursor: pointer;
        }
    }
}


.browseSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px 195px;
    gap: 60px;

    width: 100%;
    height: 928px;

    /* Background */

    background: #2B2B2B;

    /* Inside auto layout */

    flex: none;
    order: 4;
    align-self: stretch;
    flex-grow: 0;

    .browsetittlediv {
        height: 46px;

        /* H3 - Work Sans */

        font-family: 'Work Sans';
        font-style: normal;
        font-weight: 600;
        font-size: 38px;
        line-height: 120%;
        /* identical to box height, or 46px */

        text-transform: capitalize;

        /* White */

        color: #FFFFFF;


        /* Inside auto layout */

        flex: none;
        order: 0;
        align-self: stretch;
        flex-grow: 1;
    }

    .browsecards {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        padding: 0px;
        gap: 30px;

        width: 1050px;
        height: 662px;


        /* Inside auto layout */

        flex: none;
        order: 1;
        flex-grow: 0;

        .newbrowsecard {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 0px;

            width: 240px;
            height: 316px;

            background: #3B3B3B;
            border-radius: 20px;

            /* Inside auto layout */

            flex: none;
            order: 0;
            flex-grow: 1;

            img {
                width: 240px;
                height: 240px;

                border-radius: 20px 20px 0px 0px;

                /* Inside auto layout */

                flex: none;
                order: 0;
                align-self: stretch;
                flex-grow: 0;
            }

            div {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                padding: 20px 30px 25px;
                gap: 25px;

                width: 240px;
                height: 76px;


                /* Inside auto layout */

                flex: none;
                order: 1;
                align-self: stretch;
                flex-grow: 0;

                p {
                    height: 31px;

                    /* H5 - Work Sans */

                    font-family: 'Work Sans';
                    font-style: normal;
                    font-weight: 600;
                    font-size: 22px;
                    line-height: 140%;
                    /* identical to box height, or 31px */

                    text-transform: capitalize;

                    /* White */

                    color: #FFFFFF;


                    /* Inside auto layout */

                    flex: none;
                    order: 0;
                    align-self: stretch;
                    flex-grow: 0;
                }
            }


        }
    }
}


.discoversection {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px 195px;
    gap: 60px;

    width: 100%;
    height: 780px;

    /* Background */

    background: #2B2B2B;

    /* Inside auto layout */

    flex: none;
    order: 5;
    align-self: stretch;
    flex-grow: 0;

    .discovertittlediv {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        padding: 0px;
        gap: 100px;

        width: 1050px;
        height: 91px;


        /* Inside auto layout */

        flex: none;
        order: 0;
        flex-grow: 0;

        .discovertittledivLeft {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding: 0px;
            gap: 10px;

            width: 763px;
            height: 91px;


            /* Inside auto layout */

            flex: none;
            order: 0;
            flex-grow: 1;

            p:nth-child(1) {
                height: 46px;

                /* H3 - Work Sans */

                font-family: 'Work Sans';
                font-style: normal;
                font-weight: 600;
                font-size: 38px;
                line-height: 120%;
                /* identical to box height, or 46px */

                text-transform: capitalize;

                /* White */

                color: #FFFFFF;


                /* Inside auto layout */

                flex: none;
                order: 0;
                align-self: stretch;
                flex-grow: 0;
            }

            p:nth-child(2) {
                height: 35px;

                /* Body Text- Work Sans */

                font-family: 'Work Sans';
                font-style: normal;
                font-weight: 400;
                font-size: 22px;
                line-height: 160%;
                /* or 35px */

                text-transform: capitalize;

                /* White */

                color: #FFFFFF;


                /* Inside auto layout */

                flex: none;
                order: 1;
                align-self: stretch;
                flex-grow: 0;
            }
        }
    }

    button {
        background-color: transparent;
        width: 187px;
        height: 60px;

        border: 2px solid #A259FF;
        border-radius: 20px;

        p {
            font-weight: 600;
            font-size: 16px;
            line-height: 140%;
            font-style: normal;
        }

        img {
            width: 20px;
            height: 20px;
        }
    }

    .discovercards {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 0px;
        gap: 30px;

        width: 1050px;
        height: 469px;


        /* Inside auto layout */

        flex: none;
        order: 1;
        flex-grow: 0;

        .discovercard {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 0px;

            width: 330px;
            height: 469px;

            background: #3B3B3B;
            border-radius: 20px;

            /* Inside auto layout */

            flex: none;
            order: 0;
            flex-grow: 1;

            .discovercarddown {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                padding: 20px 30px 25px;
                gap: 25px;

                width: 330px;
                height: 173px;


                /* Inside auto layout */

                flex: none;
                order: 1;
                align-self: stretch;
                flex-grow: 0;

                .discoveravatar {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    padding: 0px;
                    gap: 5px;

                    width: 270px;
                    height: 60px;


                    /* Inside auto layout */

                    flex: none;
                    order: 0;
                    align-self: stretch;
                    flex-grow: 0;

                    p {
                        height: 31px;

                        /* H5 - Work Sans */

                        font-family: 'Work Sans';
                        font-style: normal;
                        font-weight: 600;
                        font-size: 22px;
                        line-height: 140%;
                        /* identical to box height, or 31px */

                        text-transform: capitalize;

                        /* White */

                        color: #FFFFFF;


                        /* Inside auto layout */

                        flex: none;
                        order: 0;
                        align-self: stretch;
                        flex-grow: 0;
                    }

                    div:nth-child(2) {
                        display: flex;
                        flex-direction: row;
                        align-items: flex-start;
                        padding: 0px;
                        gap: 12px;

                        width: 270px;
                        height: 24px;


                        /* Inside auto layout */

                        flex: none;
                        order: 1;
                        align-self: stretch;
                        flex-grow: 0;


                        img {
                            display: flex;
                            flex-direction: row;
                            align-items: flex-start;
                            padding: 0px;
                            gap: 10px;

                            width: 24px;
                            height: 24px;


                            /* Inside auto layout */

                            flex: none;
                            order: 0;
                            flex-grow: 0;
                        }

                        p {
                            width: 234px;
                            height: 22px;

                            /* Base (Body) - Space Mono */

                            font-family: 'Space Mono';
                            font-style: normal;
                            font-weight: 400;
                            font-size: 16px;
                            line-height: 140%;
                            /* or 22px */


                            /* White */

                            color: #FFFFFF;


                            /* Inside auto layout */

                            flex: none;
                            order: 1;
                            flex-grow: 1;
                        }
                    }
                }

                .discovercarddowndown {
                    display: flex;
                    flex-direction: row;
                    align-items: flex-start;
                    padding: 0px;

                    width: 270px;
                    height: 43px;


                    /* Inside auto layout */

                    flex: none;
                    order: 1;
                    align-self: stretch;
                    flex-grow: 0;

                    .discovercarddowndownLeft {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        padding: 0px 21px 0px 0px;
                        gap: 8px;

                        width: 135px;
                        height: 43px;


                        /* Inside auto layout */

                        flex: none;
                        order: 0;
                        flex-grow: 1;

                        p:nth-child(1) {
                            height: 13px;

                            /* Caption - Space Mono */

                            font-family: 'Space Mono';
                            font-style: normal;
                            font-weight: 400;
                            font-size: 12px;
                            line-height: 110%;
                            /* or 13px */


                            color: #858584;


                            /* Inside auto layout */

                            flex: none;
                            order: 0;
                            align-self: stretch;
                            flex-grow: 0;
                        }

                        p:nth-child(2) {
                            height: 22px;

                            /* Base (Body) - Space Mono */

                            font-family: 'Space Mono';
                            font-style: normal;
                            font-weight: 400;
                            font-size: 16px;
                            line-height: 140%;
                            /* or 22px */


                            /* White */

                            color: #FFFFFF;


                            /* Inside auto layout */

                            flex: none;
                            order: 1;
                            align-self: stretch;
                            flex-grow: 0;
                        }
                    }

                    .discovercarddowndownRight {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: flex-end;
                        padding: 0px;
                        gap: 8px;

                        width: 135px;
                        height: 43px;


                        /* Inside auto layout */

                        flex: none;
                        order: 1;
                        flex-grow: 1;

                        p:nth-child(1) {
                            height: 13px;

                            /* Caption - Space Mono */

                            font-family: 'Space Mono';
                            font-style: normal;
                            font-weight: 400;
                            font-size: 12px;
                            line-height: 110%;
                            /* or 13px */

                            text-align: right;

                            color: #858584;


                            /* Inside auto layout */

                            flex: none;
                            order: 0;
                            align-self: stretch;
                            flex-grow: 0;
                        }

                        p:nth-child(2) {
                            height: 22px;

                            /* Base (Body) - Space Mono */

                            font-family: 'Space Mono';
                            font-style: normal;
                            font-weight: 400;
                            font-size: 16px;
                            line-height: 140%;
                            /* or 22px */

                            text-align: right;

                            /* White */

                            color: #FFFFFF;


                            /* Inside auto layout */

                            flex: none;
                            order: 1;
                            align-self: stretch;
                            flex-grow: 0;
                        }
                    }
                }
            }
        }
    }
}

.nfthighlightSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;

    position: relative;
    width: 100%;
    height: 660px;

    img {
        width: 100%;
        height: 100%;
    }
}

.howitworksSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px 195px;
    gap: 48px;

    width: 100%;
    height: 718px;

    /* Background */

    background: #2B2B2B;

    /* Inside auto layout */

    flex: none;
    order: 7;
    align-self: stretch;
    flex-grow: 0;

    .howtittlediv {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        gap: 10px;

        width: 1050px;
        height: 91px;


        /* Inside auto layout */

        flex: none;
        order: 0;
        flex-grow: 0;

        p:nth-child(1) {
            height: 46px;

            /* H3 - Work Sans */

            font-family: 'Work Sans';
            font-style: normal;
            font-weight: 600;
            font-size: 38px;
            line-height: 120%;
            /* identical to box height, or 46px */

            text-transform: capitalize;

            /* White */

            color: #FFFFFF;


            /* Inside auto layout */

            flex: none;
            order: 0;
            flex-grow: 0;
        }

        p:nth-child(2) {
            height: 35px;

            /* Body Text- Work Sans */

            font-family: 'Work Sans';
            font-style: normal;
            font-weight: 400;
            font-size: 22px;
            line-height: 160%;
            /* or 35px */

            text-transform: capitalize;

            /* White */

            color: #FFFFFF;


            /* Inside auto layout */

            flex: none;
            order: 1;
            flex-grow: 0;
        }
    }

    .howcards {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 0px;
        gap: 30px;

        height: 439px;


        /* Inside auto layout */

        flex: none;
        order: 1;
        flex-grow: 0;

        .newhowcard {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 10px 30px 30px;
            gap: 20px;


            width: 330px;
            height: 439px;

            /* Background - Secondary */

            background: #3B3B3B;
            border-radius: 20px;

            /* Inside auto layout */


            img {
                width: 250px;
                height: 250px;


                /* Inside auto layout */

                flex: none;
                order: 0;
                flex-grow: 0;
            }

            div {
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 0px;
                gap: 10px;

                width: 270px;
                height: 129px;


                /* Inside auto layout */

                flex: none;
                order: 1;
                align-self: stretch;
                flex-grow: 0;

                p:nth-child(1) {
                    height: 31px;

                    /* H5 - Work Sans */

                    font-family: 'Work Sans';
                    font-style: normal;
                    font-weight: 600;
                    font-size: 22px;
                    line-height: 140%;
                    /* identical to box height, or 31px */

                    text-align: center;
                    text-transform: capitalize;

                    color: #FFFFFF;


                    /* Inside auto layout */

                    flex: none;
                    order: 0;
                    align-self: stretch;
                    flex-grow: 0;
                }

                p:nth-child(2) {
                    height: 88px;

                    /* Base(Body) - Work Sans */

                    font-family: 'Work Sans';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 140%;
                    /* or 22px */

                    text-align: center;

                    /* White */

                    color: #FFFFFF;


                    /* Inside auto layout */

                    flex: none;
                    order: 1;
                    align-self: stretch;
                    flex-grow: 0;
                }
            }
        }
    }
}

.joindigestSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 195px 80px;
    gap: 10px;

    width: 100%;
    height: 550px;

    /* Background */

    background: #2B2B2B;

    /* Inside auto layout */

    flex: none;
    order: 8;
    align-self: stretch;
    flex-grow: 0;

    .joindigestcontainer {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 60px;
        gap: 80px;

        width: 1050px;
        height: 430px;

        background: #3B3B3B;
        border-radius: 20px;

        /* Inside auto layout */

        flex: none;
        order: 0;
        flex-grow: 0;

        img {
            width: 425px;
            height: 310px;
            border-radius: 20px;
        }

        div {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding: 0px;
            gap: 40px;

            width: 425px;
            height: 272px;


            /* Inside auto layout */

            flex: none;
            order: 1;
            flex-grow: 0;

            .digesttop {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                padding: 0px;
                gap: 10px;

                width: 425px;
                height: 172px;


                /* Inside auto layout */

                flex: none;
                order: 0;
                align-self: stretch;
                flex-grow: 0;

                p:nth-child(1) {
                    height: 92px;

                    /* H3 - Work Sans */

                    font-family: 'Work Sans';
                    font-style: normal;
                    font-weight: 600;
                    font-size: 38px;
                    line-height: 120%;
                    /* or 46px */

                    text-transform: capitalize;

                    /* White */

                    color: #FFFFFF;


                    /* Inside auto layout */

                    flex: none;
                    order: 0;
                    align-self: stretch;
                    flex-grow: 0;
                }

                p:nth-child(2) {
                    width: 425px;
                    height: 70px;

                    /* Body Text- Work Sans */

                    font-family: 'Work Sans';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 22px;
                    line-height: 160%;
                    /* or 35px */

                    text-transform: capitalize;

                    /* White */

                    color: #FFFFFF;


                    /* Inside auto layout */

                    flex: none;
                    order: 1;
                    align-self: stretch;
                    flex-grow: 0;
                }
            }

            .digestdown {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: end;
                padding: 16px 0px 16px 20px;
                gap: 12px;

                width: 425px;
                height: 60px;

                /* Text */

                background: #FFFFFF;
                border-radius: 20px;

                /* Inside auto layout */

                font-family: 'Work Sans';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 140%;
                /* or 22px */


                /* Background */

                color: #2B2B2B;

                input {
                    border: none;

                    ::placeholder {
                        font-family: 'Work Sans';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 140%;
                        border: none;
                        /* or 22px */


                        /* Background */

                        color: #2B2B2B;


                        /* Inside auto layout */

                        flex: none;
                        order: 0;
                        flex-grow: 1;
                    }
                }

                input:focus {
                    border: none;
                }



            }

            button {
                display: flex;
                flex-direction: row;
                justify-content: flex-end;
                align-items: center;
                padding: 0px 50px;
                gap: 12px;

                width: 211px;
                height: 60px;

                /* Call to Action */

                background: #A259FF;
                border-radius: 20px;

                /* Inside auto layout */

                flex: none;
                order: 1;
                flex-grow: 0;

                p {
                    height: 22px;

                    font-family: 'Work Sans';
                    font-style: normal;
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 140%;
                    /* or 22px */

                    text-align: center;

                    color: #FFFFFF;


                    /* Inside auto layout */

                    flex: none;
                    order: 1;
                    flex-grow: 0;
                }

                img {
                    width: 20px;
                    height: 20px;

                }
            }
        }
    }
}